{:paths ["src"
         "resources" ; extension
         "target/node_modules"] ; vega specs json
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  ;lambdaisland/ansi {:mvn/version "0.1.6"}
  }

 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"
               "--lint"
               "src" "test"
               "--config" "cljkondo.edn"]}

  ; demo ui
  :webly {:exec-fn webly.app.app/webly-build
          :extra-deps {org.pinkgorilla/webly {:mvn/version "0.5.661"}
                       org.pinkgorilla/ui-repl {:mvn/version "0.1.94"}}
          :extra-paths ["demo" "demo/resources"]
          :exec-args {:config ["demo-config.edn"]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :run {:exec-fn modular.system/start!
        :extra-paths ["demo" "demo/resources"]
        :exec-args {:profile "jetty"
                    :config  ["demo-config.edn"]
                    :services "demo-services.edn"}}

  
;
  }}
