{:explorer {:client {:repositories [{:name "local"  :url "/api/explorer" :save true}
                                    #_{:name "public" :url "https://raw.githubusercontent.com/pink-gorilla/gorilla-explore/master/resources/list.json"}]}
            :server {:resource-root-path "notebooks-none"
                     :roots
                     {:gorilla-ui "./resources/notebooks/gorilla-ui"
                      :notebook "../notebook/resources/notebooks"
                      :gorilla-plot "../gorilla-plot/resources/notebooks"
                      }}}
 
 }