{:name "cljs-pprint-frisk"
 ; build
 :lazy true ; frisk requires cljs-pprint
 :cljs-namespace [ui.pprint
                  ui.frisk]
 :cljs-ns-bindings {'ui.pprint {'pprint ui.pprint/pprint
                                'print-table ui.pprint/print-table}
                    'ui.frisk {'frisk ui.frisk/frisk}
                    }}

