{:name "ui-gorilla"
 :clj-require []
 :theme {:available {:pydoc {true ["gorilla-ui/pydoc.css"]}}
         :current {:pydoc true}}
 :cljs-namespace [pinkgorilla.ui.viz.sparklines
                  pinkgorilla.ui.viz.frisk
                  pinkgorilla.ui.viz.video
                  pinkgorilla.ui.viz.json
                  pinkgorilla.ui.viz.ansi
                  pinkgorilla.ui.app.card
                  pinkgorilla.ui.app.aspect-ratio
                  pinkgorilla.ui.pinkie.components-ui
                  pinkgorilla.ui.pinkie.pydoc]
 :cljs-bindings {'video pinkgorilla.ui.viz.video/video
                 'frisk pinkgorilla.ui.viz.frisk/frisk}
 :cljs-ns-bindings {'spark {'bar pinkgorilla.ui.viz.sparklines/sparkline-bar
                            'spot pinkgorilla.ui.viz.sparklines/sparkline-spot
                            'line pinkgorilla.ui.viz.sparklines/sparkline}}
 :pinkie {:p/frisk pinkgorilla.ui.viz.frisk/DataFriskView
          :p/video pinkgorilla.ui.viz.video/video
          :p/json pinkgorilla.ui.viz.json/json
          :p/ansi pinkgorilla.ui.viz.ansi/ansi
          :p/card  pinkgorilla.ui.app.card/card
          :p/aspectratio  pinkgorilla.ui.app.aspect-ratio/aspect-ratio
          :p/componentsui  pinkgorilla.ui.pinkie.components-ui/components-ui
          :p/pydoc pinkgorilla.ui.pinkie.pydoc/py-doc
          :p/sparklinebar pinkgorilla.ui.viz.sparklines/sparkline-bar
          :p/sparklinespot pinkgorilla.ui.viz.sparklines/sparkline-spot
          :p/sparkline pinkgorilla.ui.viz.sparklines/sparkline}
 :lazy true
 }

