{:name "gorilla-ui"
 :clj-require []
 :cljs-namespace [pinkgorilla.ui.goldly]
 :cljs-bindings {'aggrid pinkgorilla.ui.viz.aggrid/aggrid-styled}
 :cljs-ns-bindings {'spark {'bar pinkgorilla.ui.viz.sparklines/sparkline-bar
                            'spot pinkgorilla.ui.viz.sparklines/sparkline-spot
                            'line pinkgorilla.ui.viz.sparklines/sparkline
                                }}

 :theme {:available  {:leaflet {true ["leaflet/dist/leaflet.css"]}
                      :pydoc {true ["gorilla-ui/pydoc.css"]}}
         :current {:leaflet true
                   :pydoc true}}

 ; modules and pinkie not yet via loader
 :pinkie {}
 :modules {}

 :snippets [{:type :goldly-clj
             :category :gorilla-ui
             :id :sparkline
             :filename "snippets/gorilla-ui/sparkline.clj"}
            {:type :pinkie
             :category :gorilla-ui
             :id :video
             :filename "snippets/gorilla-ui/video.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :json
             :filename "snippets/gorilla-ui/json.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :html
             :filename "snippets/gorilla-ui/html.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :frisk
             :filename "snippets/gorilla-ui/frisk.edn"}
            
            {:type :pinkie
             :category :gorilla-ui
             :id :ansi
             :filename "snippets/gorilla-ui/ansi.edn"}
            ; aggrid
            {:type :pinkie
             :category :aggrid
             :id :aggrid-small
             :filename "snippets/aggrid/aggrid_small.edn"}
            {:type :pinkie
             :category :aggrid
             :id :aggrid-small2
             :filename "snippets/aggrid/aggrid_small2.edn"}
            {:type :goldly-clj
             :category :aggrid
             :id :aggrid-large
             :filename "snippets/aggrid/aggrid_large.clj"}
            ; cytoscape
            {:type :pinkie
             :category :gorilla-ui
             :id :cytoscape1
             :filename "snippets/gorilla-ui/cytoscape1.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :cytoscape2
             :filename "snippets/gorilla-ui/cytoscape2.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :cytoscape3
             :filename "snippets/gorilla-ui/cytoscape3.edn"}
            {:type :pinkie
             :category :gorilla-ui
             :id :cytoscape4
             :filename "snippets/gorilla-ui/cytoscape4.edn"}
            ]}

