{:id :select
 :state {:language "ruby"}
 :html [:p/panel {:title "panel with controls"}
        ;[:div {:class "flex items-center justify-between"}
         [:p/select-a
          {:nav? true
           :items ["javascript" "ruby" "clojure" "clojurescript"
                   "ocaml" "scheme" "elixir" "c#" "R" "python"]}
          state [:language]]
        [:h1 "state:"
         [:p (pr-str @state)]]]
 :fns {}
 :fns-raw {}}
