{:id :text
 :state {:name "Someone Special"}
 :html [:p/panel {:title "panel with controls"}
        [:div {:class "flex items-center justify-between"}
         [:h2 "input"]
         [:p/input-a {} state [:name]]]
        [:h1 "state:"
         [:p (pr-str @state)]]]
 :fns {}}

