name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Prepare java
      uses: actions/setup-java@v1
      with:
        java-version: 1.14
    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@3.5
      with:
        cli: 1.10.3.882
    - name: clj-fmt
      if: ${{ matrix.os != 'windows-latest' }}
      run: clojure -M:cljfmt
      shell: bash
    #- name: show git tag
    #  run: clojure -M:garamond
    #- name: npm-install
    #  run: |
    #    clojure -X:npm-install
    #    ./scripts/copy_res.sh
    #- name: clj-kondo
    #  run: clojure -M:lint
    #- name: test-clj
    #  run: clojure -M:test-clj
    #- name: cloverage
    #  run: clojure -M:cloverage
    - name: Release
      if: success()
      # if: github.event_name == 'push'
      env:
        CLOJARS_USERNAME: ${{ secrets.ReleaseUsername }}
        CLOJARS_PASSWORD: ${{ secrets.ReleasePassword }}
        CODECOV_TOKEN: ${{ secrets.CodecovToken }}
      run: |
        git config --global user.email "ci@pinkgorilla.org"
        git config --global user.name "CI/CD"
        clojure -M:release --patch
        git push --tags
      #         rm src/goldly_bindings_generated.cljs
      #  clojure -M:release tag --minor
      #  clojure -M:release pom
      #  clojure -M:release jar
      # clojure -M:release deploy
      # lein release
      # bash <(curl -s https://codecov.io/bash)